<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/css/base.css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_arrow_down" />
      <title>
        {% block title %}
        {% endblock %}
      </title>
      <meta http-equiv="refresh" content="15" />
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="headerSection">
        <div class="companyName">
          <a href="{{ url_for('main.home') }}">eventFlow</a>
        </div>
        <div class="navSection">
          <nav>
            <ul class="mainNavbar">
              <li class="nav-item">
                <a href="{{ url_for('main.findEvent') }}">Find Events</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('main.createEvent') }}">Create Event</a>
              </li>
              <li class="nav-item dropdown">
                <span class="dropdownTitle">
                  Help Center
                  <span class="material-symbols-outlined">keyboard_arrow_down</span>
                </span>
                <div class="dropdownContent">
                  <ul class="dropdownList">
                    <li>
                      <a href="{{ url_for('main.helpCenter') }}">Help Center</a>
                    </li>
                    <li>
                      <a href="{{ url_for('main.findMyTickets') }}">Find Your Tickets</a>
                    </li>
                    <li>
                      <a href="{{ url_for('main.contactOrganizer') }}">Contact Your Event Organizer</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('main.findMyTickets') }}">Find my tickets</a>
              </li>
            </ul>
          </nav>
          <div class="authSection">
            <div class="login">
              <a href="{{ url_for('auth.login') }}">Log In</a>
            </div>
            <div class="signup">
              <a href="{{ url_for('auth.signup') }}">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="content">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
