{% extends 'base.html' %} 
{{super()}} 
{% block head %}
  {% block title %} EventFlow {% endblock %}
  <link rel="stylesheet" href="/static/css/home.css" />
{% endblock %} 
{% block content %}
<section>
  <div class="intro">
    <h2>Welcome to Rowley Company</h2>
    <p>
      We are a trusted partner in real estate management, dedicated to providing
      exceptional service and value to our clients.
    </p>
  </div>
  <div class="featured-properties">
    <h2><strong> Featured Properties </strong></h2>
  </div>
</section>
{% endblock %}
